@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
background: linear-gradient(
      to right,
      transparent,
      #F0F8F8
    )
    #e0f7fa;
}

body {
  color: rgb(var(--foreground-rgb));
}

button {
  outline: none;
}

.modal-grid {
  display: grid;
  gap: 12px;
}

@media (min-width: 768px) {
  .md\:modal-grid-lg {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 12px;
  }
}

.comment-grid-layout {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 1rem;
}

.winner-action {
  grid-column: 1 / 3;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #3182c5 radial-gradient(circle, transparent 1%, #0890ff 1%) center/15000%;
}
.ripple:active {
  background-color: #0990ff;
  background-size: 100%;
  transition: background 0s;
}
