@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
background-color: #F0F8F8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.modal-grid {
  display: grid;
  gap: 12px;
}

@media (min-width: 768px) {
  .md\:modal-grid-lg {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 12px;
  }
}
